<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--Absolute path of the folder to save txt files for populating dropdown. Example value: C:\Users\JZhang\Desktop\元数据 -->
    <add key="metadataFileDirectory" value="C:\Users\JZhang\Desktop\ConstructionMaterialCalculator-WPF\zh-cn\元数据"/>
    <!--Absolute path of the folder to save the generated forms. Example value: C:\Users\JZhang\Desktop\表格-->
    <add key="formSaveDirectory" value="C:\Users\JZhang\Desktop\ConstructionMaterialCalculator-WPF\zh-cn\表格"/>
    <!--Extention of generated excel files. Valid values are .xlsx, .xls-->
    <add key="spreadSheetExtension" value=".xlsx"/>
  </appSettings>
</configuration>